* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 25px;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}
.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}
.pad1 {
  background: rgb(85, 172, 89);
}
.pad2 {
  background: rgb(78, 134, 180);
}
.pad3 {
  background: rgb(116, 80, 182);
}
.pad4 {
  background: rgb(184, 75, 75);
}
.pad5 {
  background: rgb(197, 199, 82);
}
.pad6 {
  background: rgb(211, 122, 81);
}
